@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* shared styles */

.display-flex{
  display: flex;
}

.display-hide{
  display: none;
}


/* first navbar related styles start  */

.navbar{
  justify-content: space-between;
  align-items: center;
  padding: 10px 140px;
}

.logo{
  justify-content: center;
  align-items: center;
}
.logo h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.logo img {
  width: 40px;
  margin-right: 10px;
}
.nav-links {
  gap: 25px;
}

.nav-links a {
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
}
#home {
  font-weight: 700;
  color: #FEA301;
}
.contact-btn {
  color: white;
  background-color: #FEA301;
  border: none;
  border-radius: 12px;
  padding: 10px 30px;
  font-size: 1.25rem;
  font-weight: 500;
}

/* second navbar related style start  */

.navbar-secondary {
  justify-content: space-between;
  align-items: center;
  border: 2px solid #FEA301;
  padding: 10px 20px;
  margin: 0px 140px;
}
.logo-secondary img {
  height: 30px;
  width: auto;
}
.menubar {
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  align-items: flex-end;
}
.line {
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}


/* banner related style start  */

.banner {
  justify-content: space-between;
  align-items: center;
  padding: 0px 140px;
  margin-top: 50px;
}
.banner-text {
  width: 640px;
  height: 331px;
}
.banner-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.banner-text p {
  font-size: 1.25rem;
  font-weight: 400;
  color: black;
  margin-top: 30px;
}

.enroll-btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  padding: 10px 30px;
  margin-top: 30px;
}
.banner-img-primary img {
  width: 310px;
  height: auto;
}
.banner-img-secondary img {
  width: 310px;
  height: auto;
}

/* card related style start  */

.cards{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: top right, top left;
  padding: 0px 140px;
}
.card-title{
  font-size: 2.9rem;
  font-weight: 700;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.card-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 28px;
}

.card-sub-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 34px auto;
}
.read-more{
  font-size: 1rem;
  font-weight: 700;
}
.card-discription, .story-description {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(128, 128, 128);
  padding-bottom: 38px;
  word-spacing: 5px;
  line-height: 1.4;
}
.card-1{
  border: 1px solid rgb(222, 245, 255);
  border-radius: 19px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  padding: 54px 40px;
}
.card-2{
  border: 1px solid rgb(255, 244, 220);
  border-radius: 19px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  padding: 54px 40px;
}
.card-3{
  border: 1px solid rgb(242, 232, 255);
  border-radius: 19px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  padding: 54px 40px;
}

/* slide change btn and story heading related style */

.slide-story {
  padding: 0px 140px;
}
.stories-heading {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
}
.stories-heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-size: 3rem;
  font-weight: 700;
}
.slide-change-btn{
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
  gap: 10px;
}

.btn{
  border-radius: 100%;
  background-color: #FEA301;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  width: 60px;
  height: 60px;
  border: none;
}

.previous, .next {
  background-color: #FEA301;
}


/* story card related css start   */
.story-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  padding: 0px 140px;
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;

}
.background-section {
  background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.small-card-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.large-card{
  width: 540px;
  height: 630px;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.large-card-image img {
 width: 100%;
 height: auto;
}
.card-date {
  position: relative;
  bottom: 15px;
  left: 15px;
  background-color: #4BCFFA;
  color: white;
  font-size: 0.80rem;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 15px;
  margin-left: 20px;
}
.large-card-content{
  padding: 20px;
}
.story-card-title{
  font-size: 2rem;
  font-weight: 700;
  margin: 0px 0px 10px;
}
.story-card-description {
  font-size: 0.90rem;
  padding-top: 10px;
  line-height: 1.6;
}
.small-card {
  width: 290px;
  height: 302px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 8px;
}
.small-card-content {
  text-align: left;
  padding: 4px 20px;
  font-size: 1rem;
  font-weight: 500;
}
.view-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-all {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  background-color: black;
  border: none;
  border-radius: 12px;
  padding: 10px 40px;
  margin: 40px;
  margin-bottom: 60px;
}


/* Responsive media query  */

 @media screen and (max-width: 576px) {
  
  body {
    width: 100%;
    height: auto;
  }
  .navbar {
    display: none;
  }
  .navbar-secondary {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px;
  }
  .banner-img-secondary{
    display: block;
  }
  .banner-img-primary {
    display: none;
  }
  .banner {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 0px;
    margin: 0px;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }
  .slide-change-btn {
    display: none;
  }
}

