@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* shared styles */

body {
  margin-left: 140px;
  margin-right: 140px;
}

body {
  /* min-width: 1100px; */
  max-width: 1460px;
}

.display-flex{
  display: flex;
}

.hide{
  display: none;
}


/* navbar related styles start  */
.navbar{
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nav-title{
  font-size: 2rem;
  font-weight: 700;
}
.nav-icon{
  justify-content: left;
  align-items: center;
  gap: 11px;
}
.nav-links{
  justify-content: space-around;
  align-items: center;
  margin-left: 186px;
  margin-right: 186px;
}
.nav-btn{
  justify-content: right;
  align-items: center;
}
.btn-a{
  background-color: rgb(254, 163, 1);
  color: white;
  padding: 10px 60px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
}
.nav-link-1 {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  color: #FEA301;
  margin: 32px;
}
.nav-link-2 {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(1, 172, 253);
}
.nav-link-3 {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(5, 212, 223);
  margin: 32px;
}
.nav-link-4 {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(93, 88, 239);
}

/* banner related style start  */
.banner{
  justify-content: space-between;
  width: 100%;
}

.banner-content{
  margin-top: 122px;
  margin-bottom: 122px;
  margin-right: 50px;
}
.banner-title{
  font-size: 3.5rem;
  font-weight: 700;
}
#empowering{
  color: rgb(254, 163, 1);
}
#towards{
  color: rgb(1, 172, 253);
}

.banner-description{
  font-size: 1.25rem;
  font-weight: 400; 
  margin: 24px 0px;
}
.btn-b{
  color: white;
  background-color: rgb(17, 17, 17);
  font-size: 1.25rem;
  font-weight: 100;
  padding: 8px 30px;
  border: none;
  border-radius: 12px;
}

/* Responsive media query  */

@media screen and (max-width: 576px) {
  .navbar{
    border: 1px solid #FEA301;
    position: absolute;
    width: 100%;
  }
  .nav-title{
    display: none;
  }
  .nav-links{
    display: none;
  }
  .nav-btn{
    display: none;
  }
  body{
    margin-left: 10px;
    margin-right: 10px;
  }
  .banner{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-img{
    display: none;
  }
  .banner-img-media {
    display: block;
  }
}

